/**Golobal**/
html,body{
    margin: 0px;
    padding:0px;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h5{
    font-family: 'Lobster';
}
/**header**/
.header{
    background:  rgb(42, 29, 13);
    font-size: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Lobster';
    margin: 0;
}
.header div{
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header .a-tags{
    display: flex;
    text-align: center;
    justify-content: center;
}
.header .a-tags a{
padding-right: 20px;
color: white;
}
/**../header**/
/**slider**/
/* Slideshow container */
.slider-one{
    width: 100%;
    height: 80vh;
}
.slider-one img{
    height: 100%;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
/**../slider**/
/**second section**/
.container div{
    text-align: center;
    justify-content: center;
    padding: 10px;
    
}
.container div .read-more{
    background-color: #f5deb300;
    border-bottom: 1px solid rgb(42, 29, 13);
    border-top: 1px solid rgb(42, 29, 13);
    cursor: pointer;
    transition: 1s;
}
.container div span:hover{
    transition: 1s;
    background-color: rgb(42, 29, 13);
    color: white;
}
.container div h2,.container div h5{
    color: rgb(42, 29, 13);
}
/**../second section**/
/**third section**/
.container-2{
    background-color:  rgb(42, 29, 13);
    color: white;
}
.container-2 h2{
    border-bottom: 1px solid white;
}
.container-2 a{
    color: white;
}
.container-2 div{
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.container-2 .tab-content .active{
    display: inline;
    background-color:  rgb(42, 29, 13);
}
.container-2 .img img{
    width: 100%;
    height: 222px;
}
/**../third section**/
/**fourth section**/
.fourth-section h2{
    border-bottom: 1px solid rgb(42, 29, 13);
}
.fourth-section .row div{
    padding: 0px;
}
.fourth-section .imgs h3{
display: flex;
text-align: center;
justify-content: center;
margin-top: 40%;
}
.fourth-section .imgs{
    position: relative;
    height: 222px;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
}

.fourth-section .imgs div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
}
.fourth-section .imgs div:hover{
    opacity: 0.5;
}
.fourth-section .imgs .backgroung-image-1{
    background-image: url(../images/dinner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 0;
}
.fourth-section .imgs .backgroung-image-2{
    background-image: url(../images/dinner-deck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 0;
}
.fourth-section .imgs .backgroung-image-3{
    background-image: url(../images/lounge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 0;
}
.fourth-section .imgs .backgroung-image-4{
    background-image: url(../images/bar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 0;
}
/**../fourth section**/
/**fifth section**/
.fifth-section{
    height: 60vh;
    background-image: url(../images/fifth-section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.fifth-section .row{
    height: 33%;
}
.fifth-section .items{
    display:flex;
    justify-content: center;
    text-align: center;
    height: inherit;
    width: 100%;
    margin: 0px;
}
.fifth-section .items span{
    display: grid;
    color: white;
    font-size: 30px;
}
.fifth-section .items span i{
    display: grid;
    color: white;
    background: linear-gradient(#00000075,#80808096,#808080a8,#00000082);
}
.fifth-section .items h3{
    background: linear-gradient(#00000075,#80808096,#808080a8,#00000082);
}
/**../fifth section**/
/**Last slider**/
.last-slider{
    height: fit-content;
    margin: 10px;
}
.last-slider .container div{
    padding: 0px;
    font-size: 20px;
}

.last-slider h2{
    text-align: center;
    justify-content: center;
    padding: 10px;
    color:  rgb(42, 29, 13);
}
.last-slider img{
    border: 1px solid white;
    border-radius: 3%;
}
.last-slider .active{
    background-color: white;
    width: inherit;
    font-size: inherit;
    translate:(0,0);
    padding: 0px !important;
   transition: 0.7s !important;
    margin-top: -22px !important;
}
.div.item.next.right{
    margin: 0 !important;
}
.last-slider .slider-2{
    border-left: 5px solid rgb(42, 29, 13);
    border-right: 5px solid rgb(42, 29, 13);
}
.slider-2 div{
    color: black;
}
.last-slider .slider-2 .img_holder img{
    height: 200px;
    text-align: center;
    width: 50%;
}
.container div span{
    border: none;
}

/**../last slider**/
/**footer**/
footer{
    display: flex;
    background-color: rgb(42, 29, 13);
    color: white;
}
footer .footer-border {
    border-right: 1px solid white;
    border-left: 1px solid white;
}
footer .footer-border .row{
    height: 7%;
}
footer div h2,footer div h3{
    text-align: center;
    padding: 10px;
}
footer ul{
    padding: 0px;
    margin: 15px;
}
footer div li{
    display: flex;
}
footer ul span{
    padding-right: 6px;
}
footer .folow-us .row{
    height: 7%;
}
.folow-us .span{
    text-align: center;
    font-size: 30px;
}
.location{
    overflow: hidden;
}
.location div{
    text-align: center;
    padding: 0;
}
.location div iframe{
    text-align: center;
    height: 265px;
}
.location .row{
    height: 265px;
}
/**../footer**/
/**media query**/
@media screen and (max-width: 991px) and (min-width:768px){
    .header .a-tags{
        display: inline;
    }
    .slider-one{
        width: 100%;
        height: 58vh;
    }
    .slider-one img{
        height: 100%;
    }
}
@media screen and (max-width: 767px) and (min-width: 549px) {
    .header .a-tags{
        display: inline;
    }
    .slider-one{
        width: 100%;
        height: 58vh;
    }
    .slider-one img{
        height: 100%;
    }
    .fourth-section .imgs h3 {
        margin-top: 60%;
    }
    footer{
        display: inherit;
    }
    footer .footer-border{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left:none;
        border-right:none;
    }
}
@media screen and (max-width: 548px){
    .header .a-tags{
        display: inline;
    }
    .slider-one{
        width: 100%;
        height: 58vh;
    }
    .slider-one img{
        height: 100%;
    }
    .fourth-section .imgs h3 {
        margin-top: 22%;
    }
    footer{
        display: inherit;
    }
    footer .footer-border{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left:none;
        border-right:none;
    }
}
